
@{
    ViewBag.Title = "App List";
}


<div>@Html.ActionLink("Auto", "Index", "Autos", null, new { })</div>
<br />
<div>@Html.ActionLink("Models", "Index", "CameraModels/Index", null, new { })</div>
<br />
<div>@Html.ActionLink("Add Actions For Events", "Index", "Actions/Index", null, new { })</div>

