@{
    ViewBag.Title = "App List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    HomeApps.Models.UserViewModel currentuser = this.Session["_CurrentUser"] as HomeApps.Models.UserViewModel;
}

@if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("Auto").Equals(true))
{
<div>@Html.ActionLink("Auto", "Index", "Autos", null, new { })</div>
<br />
}
@if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("Models").Equals(true))
{
<div>@Html.ActionLink("Models", "Index", "ModelPeoples", null, new { })</div>
<br />
}

@if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("Event").Equals(true))
{
<div>@Html.ActionLink("The Event", "Index", "TheEvents/Index", null, new { })</div>
}

