@model HomeApps.User
@{

}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        @Html.ActionLink("Login", "login")
    </div>
    <br />
    <div>
        @Html.ActionLink("App List", "AppList")
    </div>

    <br />
    <div>
        @Html.ActionLink("Gas", "Index", "Autos")
    </div>
}




