@using Newtonsoft.Json;
@using System.Threading.Tasks;

@model Task<string>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";

    }

@{ 
 dynamic dynJson = Model;

}

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div>
        <input type="text" class="form-control" id="getStoresResult" />
    </div>

    <script>
        $(window).on('load', function () {
            $("#getStoresResult").val("");
            $.ajax({
                contentType: 'application/json',
                type: "GET",
                url: "http://localhost/StoreAPI/api/Store",
                success: function (data, textStatus, jqXHR) {
                    data.forEach(function (person) {
                        $("#getStoresResult").val($("#getStoresResult").val() + person.name + "|");
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    $("#getStoresResult").val(jqXHR.statusText);
                }
            });
        });
    </script>