@model IEnumerable<HomeApps.Models.UserViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<h2>User Summary</h2>

<body>

    @foreach (var user in Model)
    {

        <span style="font-weight:bolder">@user.FirstName: </span> @user.UsersSchema
        <hr />

    }

</body>