@model IEnumerable<HomeApps.Models.UserViewModel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<h2>Index</h2>

@foreach (var user in Model)
{
<div>
    @user.FirstName @user.UsersSchema
    <hr />
</div>
}