@model IEnumerable<User>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var user in Model)
{
    <div>
        @user.FirstName @string.Join(",", user.UserSchemas.Select(m => m.Schema.SchemaName))
        <hr />
    </div>
}