<!DOCTYPE html>
@using HomeApps.Models;
@{


    UserViewModel currentuser = this.Session["_CurrentUser"] as UserViewModel;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Shans's Home Apps</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body class="body-content">


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Home Apps</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            @if (this.Session["_CurrentUser"] != null)
            {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("CameraModels").Equals(true))
                    {
                        @Html.ActionLink("Gender Types", "GetGenderTypes", "CameraModels", null, new { @class = "nav-link" })
                    }
                </li>
                <li class="nav-item">
                    @if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("CameraModels").Equals(true))
                    {
                        @Html.ActionLink("WebSite", "GetWebSite", "CameraModels", null, new { @class = "nav-link" })
                    }
                </li>
                <li class="nav-item">
                    @if (currentuser.IsAdmin || currentuser.UsersSchema.Contains("CameraModels").Equals(true))
                    {
                        @Html.ActionLink("Models", "Index", "CameraModels", null, new { @class = "nav-link" })
                    }
                </li>

            </ul>

            }
    </nav>


    <div class="container body-content" id="RenderBody">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>


</body>
</html>

<style>
    body {
        padding-top: 0px !important;
    }

    #RenderBody {
        padding-top: 15px;
    }
</style>

