<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @{

        ViewBag.Title = "SomeException";

    }

    <h2>SomeException</h2>

    <hgroup class="title">

        <h1 class="error">Error.</h1>

        <h2 class="error">Some thing when Wrong kindly check after few hours</h2>

    </hgroup>
</body>
</html>